h1{
    color:#F7A4A4;

}
a{
    color: #B6E2A1;
    margin: 10px;
  
   

}
body{
    text-align:center;
}
 
 h2{
    color:#FEBE8C;
 }
 li{
    list-style-position: inside
 }
 .renk{
    color:#6D67E4 ;

 }